.time {
    text-align: center;
    padding: 32px;
    position: relative;
    
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 32px;
}

.colaboradores h3 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px ;
    border-bottom: 8px solid ;
       
}

.input-cor{
    position: absolute;
    right: 30px;
}




